.d-flex {
  display: flex!important;
  height: 60vh;
}

.center {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  padding: 10px;
  justify-content: center;
}

.cardsgroup {

  padding-left: 10%;
  flex-direction: row;
  justify-content: center, space-evenly; 
  
}

.CardImage{

  object-fit: cover;
}

.imagen{
  border: 1px solid rgb(179, 177, 177);
  border-radius: 5px;
}


.titulo{

  width:500px;
  margin: 0 auto;
  text-align: center;

}

.locationbox{

  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border: 1px blue;
  padding: 10px;
  justify-content: center;

}


