/* Add styling using CSS */

.center {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  padding: 30px;
  justify-content: center;
}

.cardsgroup {

  padding-top: 100px;
  padding-left: 10%;
  flex-direction: col;
  justify-content: center, space-evenly; 
}

.CardImage{

  object-fit: cover;
}

.imagen{
  border: 1px solid rgb(179, 177, 177);
  border-radius: 5px;
}

.titulo{

  width:500px;
  margin: 0 auto;
  text-align: center;

}


