.d-flex {
  display: flex!important;
  height: 50vh;
}

.center {
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

.cardsgroup {

  padding-left: 10%;
  
}

.CardImage{

  object-fit: cover;
}

.locationstyle{

  width: 100%;
  height: 50vh;
  padding-top: 5%;
  padding-left: 20%;
  align-self: center;
  vertical-align: middle;
  justify-content: center;

}

